:root {
  --green-100: #30c88f;
  --green-200: #33d35e;
  --blue-100: #2d314d;
  --blue-200: #2ab6d9;
  --blue-300: rgba(45, 49, 77, 0%);
  --grey-100: #9597a5;
  --grey-200: #f4f5f7;
  --white-100: #fff;
  --white-200: #fafafa;
  --white-300: rgba(255, 255, 255, 0.35);
  --gradient: linear-gradient(to bottom right, var(--green-200), var(--blue-200)); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 0.625rem; }

body {
  box-sizing: border-box; }

main {
  overflow-x: hidden; }

body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  font-size: 1.8rem; }

.heading {
  color: var(--blue-100);
  font-weight: 300;
  line-height: 6.4rem; }
  .heading--primary {
    font-size: 5.6rem;
    letter-spacing: -1px; }
    @media only screen and (max-width: 37.5em) {
      .heading--primary {
        font-size: 4rem;
        letter-spacing: -0.71px;
        line-height: 4.7rem; } }
  .heading--secondary {
    font-size: 4rem;
    letter-spacing: -0.71px; }
    @media only screen and (max-width: 37.5em) {
      .heading--secondary {
        font-size: 3.2rem;
        letter-spacing: -0.57px;
        line-height: 3.8rem; } }

.paragraph {
  color: var(--grey-100);
  font-size: 1.8rem;
  line-height: 2.8rem;
  letter-spacing: -0.28px; }
  @media only screen and (max-width: 37.5em) {
    .paragraph {
      font-size: 1.5rem;
      line-height: 2.5rem;
      letter-spacing: -0.23px; } }

.article {
  background: var(--white-100);
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s; }
  .article:hover {
    transform: translateY(-3px); }
    .article:hover .article__title {
      color: var(--green-100); }
  .article__img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover; }
  .article__content {
    padding: 2.5rem 2.4rem 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem; }
    @media only screen and (max-width: 37.5em) {
      .article__content {
        padding: 2.5rem 3.1rem 4.2rem 3.1rem;
        text-align: left; } }
  .article__author {
    color: var(--grey-100);
    font-size: 1rem;
    line-height: 1.8rem;
    letter-spacing: -0.16px; }
  .article__title {
    color: var(--blue-100);
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: -0.29px;
    cursor: pointer;
    transition: color 0.4s; }
  .article__description {
    color: var(--grey-100);
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: -0.2px; }

.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto; }

.cta:link, .cta:visited {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0.015px;
  background: var(--gradient);
  color: var(--white-100);
  outline: 0 none;
  text-decoration: none;
  border-radius: 100px;
  display: inline-block;
  padding: 0.8rem 3.35rem;
  position: relative; }
  .cta:link::before, .cta:visited::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 100px;
    opacity: 0;
    transition: all 0.4s; }

.cta:hover::before,
.cta:active::before {
  background: linear-gradient(to top, var(--white-300), var(--white-300));
  opacity: 1; }

.feature {
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .feature {
      text-align: center; } }
  .feature__icon {
    display: block;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .feature__icon {
        margin-inline: auto;
        margin-bottom: 2.4rem; } }
  .feature__caption {
    display: flex;
    flex-direction: column;
    gap: 2.6rem; }
    @media only screen and (max-width: 37.5em) {
      .feature__caption {
        gap: 1.6rem; } }
  .feature__title {
    color: var(--blue-100);
    font-size: 2.4rem;
    font-weight: 300;
    letter-spacing: -0.43px;
    line-height: 2.8rem; }
    @media only screen and (max-width: 37.5em) {
      .feature__title {
        font-size: 2rem;
        letter-spacing: -0.36px; } }
  .feature__description {
    color: var(--grey-100);
    font-size: 1.6rem;
    letter-spacing: -0.25px;
    line-height: 2.6rem; }
    @media only screen and (max-width: 37.5em) {
      .feature__description {
        font-size: 1.5rem;
        letter-spacing: -0.23px;
        line-height: 2.5rem; } }

.header {
  background: var(--white-100);
  padding: 1.8rem 16.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100; }
  @media only screen and (max-width: 77.5em) {
    .header {
      padding: 1.8rem 3.6rem; } }
  @media only screen and (max-width: 60em) {
    .header {
      padding: 2.2rem 2.4rem; } }
  @media only screen and (max-width: 60em) {
    .header .cta {
      display: none; } }

@media only screen and (max-width: 60em) {
  .navigation {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background: #fff;
    position: absolute;
    z-index: 2;
    left: 2.4rem;
    right: 2.4rem;
    top: 8.8rem;
    border-radius: 4px;
    padding: 3.2rem 0;
    transform: translateY(-100%);
    transition: all 0.5s; }
    .navigation__open {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateY(0); }
      .navigation__open + .navigation__mobile-btn #open {
        display: none; }
      .navigation__open + .navigation__mobile-btn #close {
        display: block; } }

.navigation__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem; }
  @media only screen and (max-width: 60em) {
    .navigation__list {
      flex-direction: column;
      gap: 2.4rem; } }

.navigation__link:link, .navigation__link:visited {
  font-family: inherit;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: -0.11px;
  text-decoration: none;
  color: var(--grey-100);
  transition: all 0.4s;
  position: relative; }
  @media only screen and (max-width: 60em) {
    .navigation__link:link, .navigation__link:visited {
      font-size: 1.8rem;
      line-height: 2.1rem;
      letter-spacing: -0.14px;
      color: var(--blue-100); } }
  .navigation__link:link::after, .navigation__link:visited::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: var(--gradient);
    position: absolute;
    bottom: -3.05rem;
    transform: scaleX(0);
    transition: transform 0.4s; }
    @media only screen and (max-width: 60em) {
      .navigation__link:link::after, .navigation__link:visited::after {
        bottom: -0.5rem;
        height: 2.5px; } }

.navigation__link:hover, .navigation__link:active {
  color: var(--blue-100); }
  .navigation__link:hover::after, .navigation__link:active::after {
    transform: scaleX(1); }

.navigation__mobile-btn {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  transition: all 0.4s;
  display: none; }
  .navigation__mobile-btn #close {
    display: none; }
  @media only screen and (max-width: 60em) {
    .navigation__mobile-btn {
      display: block; } }

.hero {
  background: var(--white-200);
  position: relative;
  background-image: url(../../images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 88%;
  background-position-y: -26rem;
  background-position-x: 355%; }
  .hero::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s;
    background: transparent;
    z-index: -1; }
  .hero--mask::after {
    background: linear-gradient(to bottom, var(--blue-100), var(--blue-300));
    z-index: 1; }
  @media only screen and (max-width: 60em) {
    .hero {
      background-image: url(../../images/bg-intro-mobile.svg);
      background-size: 100%;
      background-position-x: 0;
      background-position-y: -42rem; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      background-position-y: -40vw; } }
  @media only screen and (max-width: 27.5em) {
    .hero {
      background-position-y: -17vw; } }
  .hero .container {
    padding: 17rem 0 17rem 16.5rem; }
    @media only screen and (max-width: 77.5em) {
      .hero .container {
        padding: 17rem 0 17rem 3.6rem; } }
    @media only screen and (max-width: 60em) {
      .hero .container {
        padding: 17rem 2.4rem 8.8rem 2.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .hero .container {
        padding: 32.2rem 2.4rem 8.8rem 2.4rem; } }
  .hero__img {
    position: absolute;
    display: block;
    inset: -12.3rem -13rem 0 55.8%; }
    @media only screen and (max-width: 60em) {
      .hero__img {
        width: 40%;
        inset: unset;
        top: -8rem;
        left: 58%; } }
    @media only screen and (max-width: 37.5em) {
      .hero__img {
        max-width: 36.8rem;
        width: 92%;
        top: -12.2rem;
        left: 50%;
        transform: translateX(-50%); } }
  .hero__text-box {
    max-width: 44.7rem;
    width: 100%; }
    @media only screen and (max-width: 37.5em) {
      .hero__text-box {
        margin-inline: auto;
        text-align: center; } }
    .hero__text-box .heading--primary {
      margin-bottom: 2.4rem; }
      @media only screen and (max-width: 37.5em) {
        .hero__text-box .heading--primary {
          margin-bottom: 1.6rem; } }
    .hero__text-box .paragraph {
      margin-bottom: 3.6rem; }
      @media only screen and (max-width: 37.5em) {
        .hero__text-box .paragraph {
          margin-bottom: 3.2rem; } }

.features {
  background: var(--grey-200); }
  .features .container {
    padding: 9.6rem 16.5rem 9.4rem 16.5rem; }
    @media only screen and (max-width: 77.5em) {
      .features .container {
        padding: 6.4rem 3.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .features .container {
        padding: 6.4rem 2.4rem; } }
  .features__text-box {
    max-width: 63.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 7.2rem; }
    @media only screen and (max-width: 37.5em) {
      .features__text-box {
        gap: 1.4rem;
        margin-bottom: 5.6rem;
        text-align: center; } }
  .features__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
    gap: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .features__content {
        gap: 3.2rem; } }

.articles {
  background: var(--white-200); }
  .articles .container {
    padding: 8rem 16.5rem; }
    @media only screen and (max-width: 77.5em) {
      .articles .container {
        padding: 8rem 3.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .articles .container {
        padding: 8.8rem 2.4rem;
        text-align: center; } }
  .articles .heading--secondary {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 37.5em) {
      .articles .heading--secondary {
        margin-bottom: 3.1rem; } }
  .articles__list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25.5rem, 1fr));
    gap: 3rem; }
    @media only screen and (max-width: 77.5em) {
      .articles__list {
        gap: 2.4rem; } }

.footer {
  background: var(--blue-100); }
  .footer__content {
    padding: 4.8rem 16.5rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    height: 19.1rem; }
    @media only screen and (max-width: 77.5em) {
      .footer__content {
        padding: 4.8rem 6.4rem;
        column-gap: 1.6rem; } }
    @media only screen and (max-width: 60em) {
      .footer__content {
        padding: 4rem 7.75rem;
        grid-template-columns: 1fr;
        height: auto;
        place-items: center; } }
  .footer__logo {
    display: block; }
    @media only screen and (max-width: 60em) {
      .footer__logo {
        margin-bottom: 3.2rem; } }
  .footer__links, .footer__icons {
    list-style: none; }
    @media only screen and (max-width: 60em) {
      .footer__links, .footer__icons {
        margin-bottom: 3.2rem; } }
  .footer__links {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 16rem);
    column-gap: 3rem;
    row-gap: 0.8rem; }
    @media only screen and (max-width: 60em) {
      .footer__links {
        place-items: center;
        grid-column: unset;
        grid-row: unset;
        grid-template-columns: 1fr; } }
  .footer__link:link, .footer__link:visited {
    color: var(--white-100);
    font-size: 1.5rem;
    font-weight: inherit;
    letter-spacing: -0.23px;
    line-height: 2.6rem;
    text-decoration: none;
    transition: color 0.4s; }
  .footer__link:hover, .footer__link:active {
    color: var(--green-100); }
  .footer .cta {
    align-self: start;
    justify-self: end; }
    @media only screen and (max-width: 60em) {
      .footer .cta {
        align-self: center;
        justify-self: center;
        margin-bottom: 2.4rem; } }
  .footer__icons {
    align-self: end;
    max-height: 2rem;
    display: flex;
    align-items: center;
    gap: 1.3rem; }
    @media only screen and (max-width: 60em) {
      .footer__icons {
        grid-row: 2 / 3;
        align-self: center;
        max-height: 2.4rem;
        gap: 1.6rem; } }
  .footer__icon path {
    transition: fill 0.4s; }
  .footer__icon:hover path {
    fill: var(--green-100); }
  .footer__copyright {
    align-self: end;
    justify-self: end;
    margin-top: 0.1rem;
    grid-column: 3 / 4;
    color: var(--grey-100);
    font-size: 1.5rem;
    letter-spacing: -0.23px;
    line-height: 2.6rem; }
    @media only screen and (max-width: 60em) {
      .footer__copyright {
        align-self: center;
        justify-self: center;
        margin-top: 0;
        grid-column: unset; } }
