body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 0.625rem; }

body {
  box-sizing: border-box; }
