.articles {
    background: var(--white-200);

    .container {
        padding: 8rem 16.5rem;
    }

    .heading--secondary {
        margin-bottom: 4rem;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 3rem;
    }
}
