.footer {
    background: var(--blue-100);

    &__content {
        padding: 4.8rem 16.5rem;
        display: grid;
        grid-template-columns: repeat(3, auto);
        height: 19.1rem;

        @include respond(phone) {
            padding: 4rem 7.75rem;
            grid-template-columns: 1fr;
            height: auto;
            place-items: center;
        }
    }

    &__logo {
        display: block;

        @include respond(phone) {
            margin-bottom: 3.2rem;
        }
    }

    &__links,
    &__icons {
        list-style: none;

        @include respond(phone) {
            margin-bottom: 3.2rem;
        }
    }

    &__links {
        grid-column: 2 / 3;
        grid-row: 1 / 3;

        display: grid;
        grid-template-columns: repeat(2, 16rem);
        column-gap: 3rem;
        row-gap: 0.8rem;

        @include respond(phone) {
            place-items: center;
            grid-column: unset;
            grid-row: unset;
            grid-template-columns: 1fr;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: var(--white-100);
            font-size: 1.5rem;
            font-weight: inherit;
            letter-spacing: -0.23px;
            line-height: 2.6rem;
            text-decoration: none;
            transition: color 0.4s;
        }

        &:hover,
        &:active {
            color: var(--green-100);
        }
    }

    .cta {
        align-self: start;
        justify-self: end;

        @include respond(phone) {
            align-self: center;
            justify-self: center;
            margin-bottom: 2.4rem;
        }
    }

    &__icons {
        align-self: end;
        max-height: 2rem;
        display: flex;
        align-items: center;
        gap: 1.3rem;

        @include respond(phone) {
            grid-row: 2 / 3;
            align-self: center;
            max-height: 2.4rem;
            gap: 1.6rem;
        }
    }

    &__icon {
        path {
            transition: fill 0.4s;
        }

        &:hover path {
            fill: var(--green-100);
        }
    }

    &__copyright {
        align-self: end;
        justify-self: end;
        margin-top: 0.1rem;
        grid-column: 3 / 4;
        color: var(--grey-100);
        font-size: 1.5rem;
        letter-spacing: -0.23px;
        line-height: 2.6rem;

        @include respond(phone) {
            align-self: center;
            justify-self: center;
            margin-top: 0;
            grid-column: unset;
        }
    }
}
