.header {
    background: var(--white-100);
    padding: 1.8rem 16.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;

    @include respond(phone) {
        padding: 2.2rem 2.4rem;
    }

    .cta {
        @include respond(phone) {
            display: none;
        }
    }
}
