.hero {
    background: #fafafa;
    padding: 17rem 0 17rem 16.5rem;
    position: relative;
    overflow-x: hidden;

    &__text-box {
        max-width: 44.7rem;
        width: 100%;

        .heading-primary {
            margin-bottom: 2.4rem;
        }

        .paragraph {
            margin-bottom: 3.6rem;
        }
    }

    &::before,
    &::after {
        content: "";
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &::before {
        background-image: url(../../images/bg-intro-desktop.svg);
        top: -26rem;
        left: 61rem;
    }

    &::after {
        background-image: url(../../images/image-mockups.png);
        top: -12rem;
        left: 79.5rem;
    }
}
