.hero {
    background: #fafafa;
    padding: 17rem 0 17rem 16.5rem;

    &__text-box {
        max-width: 44.7rem;
        width: 100%;

        .heading-primary {
            margin-bottom: 2.4rem;
        }

        .paragraph {
            margin-bottom: 3.6rem;
        }
    }

    &::before {
        content: "";
        background-image: url(../../images/bg-intro-desktop.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: -18rem;
        left: 64rem;
    }

    &::after {
        content: "";
        background-image: url(../../images/image-mockups.png);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 76.7rem;
        height: 93.9rem;
        position: absolute;
    }
}
