.navigation {
    @include respond(tab-port) {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;

        background: #fff;
        position: absolute;
        z-index: 2;
        left: 2.4rem;
        right: 2.4rem;
        top: 8.8rem;
        border-radius: 4px;
        padding: 3.2rem 0;
        transform: translateY(-100%);
        transition: all 0.5s;

        &__open {
            opacity: 1;
            pointer-events: auto;
            visibility: visible;
            transform: translateY(0);

            + .navigation__mobile-btn {
                #open {
                    display: none;
                }

                #close {
                    display: block;
                }
            }
        }
    }

    &__list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 3rem;

        @include respond(tab-port) {
            flex-direction: column;
            gap: 2.4rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            font-family: inherit;
            font-size: 1.4rem;
            line-height: 1.6rem;
            letter-spacing: -0.11px;
            text-decoration: none;
            color: var(--grey-100);
            transition: all 0.4s;
            position: relative;

            @include respond(tab-port) {
                font-size: 1.8rem;
                line-height: 2.1rem;
                letter-spacing: -0.14px;
                color: var(--blue-100);
            }

            &::after {
                content: "";
                display: block;
                height: 4px;
                width: 100%;
                background: var(--gradient);
                position: absolute;
                bottom: -3.05rem;
                transform: scaleX(0);
                transition: transform 0.4s;

                @include respond(tab-port) {
                    bottom: -0.5rem;
                    height: 2.5px;
                }
            }
        }

        &:hover,
        &:active {
            color: var(--blue-100);

            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__mobile-btn {
        background: transparent;
        border: 0 none;
        cursor: pointer;
        transition: all 0.4s;
        display: none;

        #close {
            display: none;
        }

        @include respond(tab-port) {
            display: block;
        }
    }
}
