:root {
    --green-100: #30c88f;
    --green-200: #33d35e;
    --blue-100: #2d314d;
    --blue-200: #2ab6d9;
    --blue-300: rgba(45, 49, 77, 0%);
    --grey-100: #9597a5;
    --grey-200: #f4f5f7;
    --white-100: #fff;
    --white-200: #fafafa;
    --white-300: rgba(255, 255, 255, 0.35);
    --gradient: linear-gradient(to bottom right, var(--green-200), var(--blue-200));
}
